<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Vulnerable Timesheet App{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&amp;family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>

  <body>
    <header>
      <div class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
          <a class="btn btn-ghost text-xl">Timesheet</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            {% if user.is_authenticated %}
            <li><a href="{% url 'cal:index' %}">My Timesheet</a></li>
            <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'authentication:login' %}">Login</a></li>
            <li><a href="{% url 'authentication:register' %}">Register</a></li>
            {% endif %} {% if user.is_superuser %}
            <li><a href="{% url 'administrator:index' %}">Admin</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>

    {% if messages %}
    <div class="container mx-auto mt-4">
      {% for message in messages %}
      <div class="alert alert-info shadow-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 8v4m0 4h.01M12 4a8 8 0 100 16 8 8 0 000-16z"
          />
        </svg>
        <span>{{ message }}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
